.header__logo{
    text-decoration: none;
    color:rgba(33, 35, 41, 1);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Golos';
    font-style: normal;
    margin-left: 60px;
    margin-top: 24px;
    margin-bottom: 24px;

}