.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px 0px rgba(231, 232, 235, 0.6);

    ;
}