.profile-info__achievement{
  display: flex;
  align-items: center;
  margin: 0 0 16px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
}

.profile-info__achievement:last-child{
  margin: 0;
}