
input {
    outline: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
   visibility: hidden;
}
input[type = file]::-webkit-file-upload-button {
    position: absolute;
    right: -20px;
    visibility: hidden;
}

input[type = file] {
    cursor: pointer;
}