
input {
    outline: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 1;
        background-image: url("../../images/pencile.svg");
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: 20px;
        cursor: pointer;
}
