.filter__item-container {
    margin: 32px 0 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    display: grid;
    grid-template-columns: min-content minmax(min-content, max-content);
    align-items:center;
    gap: 16px 11px;
}