
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
/* header css files start*/
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/menu/menu.css);
@import url(../blocks/header/menu/__link/menu__link.css);
@import url(../blocks/header/menu/__link/_orange/menu__link_orange.css);
@import url(../blocks/header/menu/__list-item/menu__list-item.css);
@import url(../blocks/header/menu/__list/menu__list.css);

@import url(../blocks/icon/icon.css);
@import url(../blocks/icon/__profile/icon__profile.css);
@import url(../blocks/icon/__course/icon__course.css);

/* header css files end*/
@import url(../blocks/Icon/__course/icon__course.css);
@import url(../blocks/Icon/__profile/icon__profile.css);
/* header css files end*/
/* filter css files start*/
@import url(../blocks/filter/filter.css);
@import url(../blocks/filter/__filters-area/filter__filters-area.css);
@import url(../blocks/filter/__header/filter__header.css);
@import url(../blocks/filter/__title/filter__title.css);
@import url(../blocks/filter/__clear-btn/filter__clear-btn.css);
@import url(../blocks/filter/__clear-btn/_show/filter__clear-btn_show.css);
@import url(../blocks/filter/__category/filter__category.css);
@import url(../blocks/filter/__category-list/filter__category-list.css);
@import url(../blocks/filter/__category-container/filter__category-container.css);
@import url(../blocks/filter/__category-title/filter__category-title.css);
@import url(../blocks/filter/__toggle/filter__toggle.css);
@import url(../blocks/filter/__toggle/_opened/filter__toggle_opened.css);
@import url(../blocks/filter/__item-wrapper/filter__item-wrapper.css);
@import url(../blocks/filter/__item-wrapper/_opened/filter__item-wrapper_opened.css);
@import url(../blocks/filter/__item-container/filter__item-container.css);
@import url(../blocks/filter/__item/filter__item.css);
@import url(../blocks/filter/__checkbox/filter__checkbox.css);
@import url(../blocks/filter/__custom-checkbox/filter__custom-checkbox.css);
@import url(../blocks/filter/__item-title/filter__item-title.css);
@import url(../blocks/filter/__label/filter__label.css);
@import url(../blocks/filter/__tags/filter__tags.css);
@import url(../blocks/filter/__tag/filter__tag.css);
@import url(../blocks/filter/__tag-cross/filter__tag-cross.css);
@import url(../blocks/filter/__tag-title/filter__tag-title.css);
@import url(../blocks/filter/__element-gap/filter__element-gap.css);
@import url(../blocks/filter/__hover-reaction/filter__hover-reaction.css);
/* filter css files end*/

/* reset list properties files start*/
@import url(../blocks/list/list.css);
/* reset list properties files end*/
@import url(../blocks/title/title.css);
@import url(../blocks/content-profile/content-profile.css);
@import url(../blocks/profile/profile.css);

/* button css files start*/
@import url('../blocks/btn/btn.css');
@import url('../blocks/btn/_active/btn_active.css');
@import url('../blocks/btn/__icon/btn__icon.css');
/* button css files end*/

/* cources-list css files start*/
@import url(../blocks/course-list/course-list.css);
@import url(../blocks/course-list/__additional-info/course-list__additional-info.css);
@import url(../blocks/course-list/__course-description/course-list__course-description.css);
@import url(../blocks/course-list/__parameter/course-list__parameter.css);
@import url(../blocks/course-list/__course-name/course-list__course-name.css);
@import url(../blocks/course-list/__icon/course-list__icon.css);
@import url(../blocks/course-list/__image/course-list__image.css);
@import url(../blocks/course-list/__item/course-list__item.css);
@import url(../blocks/course-list/__item/_hide/course-list__item_hide.css);
@import url(../blocks/course-list/__info/course-list__info.css);
@import url(../blocks/course-list/__text-area/course-list__text-area.css);
@import url(../blocks/course-list/__button/course-list__button.css);
@import url(../blocks/course-list/__parameters/course-list__parameters.css);

/* cources-list css files end*/